<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Completed Tasks
    </mat-panel-title>
  </mat-expansion-panel-header>

  <table *ngFor="let task of completedTasks" style="width: 100%;">
    <tr>
      <td>
        <h2>{{ task.description | titlecase }}</h2>
      </td>
      <td style="text-align: end;">
        <button mat-raised-button (click)="restoreTask(task)">Restore</button>
      </td>
    </tr>

    <tr>
      <td>{{ task.priority | titlecase }}</td>
      <td style="text-align: end;">{{ task.due | date: 'MMM d' }}</td>
    </tr>

    <br><mat-divider></mat-divider><br>
  </table>

</mat-expansion-panel>

<!-- <span *ngIf="completedTasks.length != 0">
  <h1 style="text-align: center;"><button (click)="hideTasks()">Completed Tasks</button></h1>
  <span *ngIf="tasksShown" class="container">
  <div *ngFor="let task of completedTasks">
    <table border="1" style="width: 100%;">
      <thead>
        <tr>
        <td>
          <h3>{{ task.description | titlecase }}</h3>
        </td>
        <td style="text-align: end;">
            <button class="btn btn-outline-dark" (click)="restoreTask(task)">Restore</button>&nbsp;
        </td>
      </tr>
    </thead>
    <tbody>
      <td>{{ task.priority | titlecase }}</td>
      <td style="text-align: end;">{{ task.due | date: 'MMM d' }}</td>
    </tbody>
  </table>
  <br>
</div>
</span>

  </span> -->
